<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="/resources/main.css"/>
<link rel="stylesheet" href="/resources/bootstrap.min.css"/>
<title>Udio</title>
</head>
<body>
	<div class="nav">
		<div class="container">
			<ul class="pull-left">
				<li><img  id='logo' src='/resources/logo.png'></img>Beta</li>
			</ul>
			<ul class="pull-right">
				<li><a href="#signup">Sign Up</a></li>
				<li><a href="/main">Log in</a></li>
			</ul>
		</div>
	</div>
	<div class="jumbotron">
		<div class="container">
			<h1>Organize your files</h1>
		</div>
	</div>
	<div class="features">
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<h3>Unite</h3>
					<p>All my stuff in one place. GoogleDrive, DropBox, OneDrive</p>
				</div>
				<div class="col-md-2">
					<h3>Tag</h3>
					<p>Should I organize my files by date, location, event? How
						about all?</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>