<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/resources/main.css"/>
    <link rel="stylesheet" href="/resources/bootstrap.min.css"/>
    <link rel="stylesheet" href="/resources/jquery-ui-1.11.1.custom/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/resources/jquery-ui-1.11.1.custom//jquery-ui.structure.min.css"/>   
    <script type="text/javascript" src="/resources/jquery-1.11.1.min.js"></script>    
    <script type="text/javascript" src="/resources/jquery-ui-1.11.1.custom/jquery-ui.js"></script>
    <script type="text/javascript" src="/resources/main.js"></script>    
    <!-- This is for file Upload -->
    <script src="/resources/angular-file-upload-bower-1.6.12/angular-file-upload-shim.min.js"></script> 
    <script src="/resources/angular.min.js"></script>
    <script src="/resources/angular-file-upload-bower-1.6.12/angular-file-upload.min.js"></script>    
    
    <title>Udio</title>
</head>
<body>
    <div class="nav">
		<div class="container">
			<ul class="pull-left">
				<li><img  id='logo' src='/resources/logo.png'></img>Beta</li>
			</ul>			
			<ul class="pull-right">				
				<li><a href="#login">Log Out</a></li>
			</ul>
		</div>
	</div>
    <div class="container"> 
        <div class="menu-left">
        <ul>
            <li>
                <img name="upload" id="upload" src="/resources/1413571277_upload-48.png"/>
            </li>
        </ul>
        </div>        
    </div>   
        
	<form style="display:none" action="upload" method="post" enctype="multipart/form-data">
		<div>
			Upload file: <input type="file" name="fileUpload1" id="fileUpload1"/>
			<input type="submit" value="Upload"></input>
		</div>
	</form>   
            
    <form style="display:none" name="account_form" id="account_form" enctype="multipart/form-data">
            <br/>
            <br/>
            <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Add files...</span>
                <!-- The file input field used as target for the file upload widget -->
                <input id="fileupload" type="file" name="file[]"></input>
            </span>
            <br/>
            <br/>            
            <fieldset>
                <label for="tags">Tags</label>
                <input type="text" name="tags" id="tags" class="text ui-widget-content ui-corner-all"></input>
            </fieldset>            
            <div id="files" class="files"></div>
            <br/>
            <div id="progress" class="progress">
                <div class="progress-bar progress-bar-success"></div>
            </div>             
        </form>
    <div id="dialog-form" title="Upload" >
    </div>

    <div class="upload-div" ng-controller="UploadController" ng-app="fileUpload">
        
        
        </br>
        Tags :<input class="ng-pristine ng-valid" type="text" ng-model="tagModel"></input>

        <br/>
        Progress:
		<br/>
		<br/>
		<div ng-show="selectedFiles != null">
			<div class="sel-file" ng-repeat="f in selectedFiles">
				{{($index + 1) + '.'}}
				<img ng-show="dataUrls[$index]" ng-src="{{dataUrls[$index]}}">
				<button class="button" ng-click="start($index)" ng-show="progress[$index] < 0">Start</button>
				<span class="progress" ng-show="progress[$index] >= 0">						
					<div style="width:{{progress[$index]}}%">{{progress[$index]}}%</div>
				</span>				
				<button class="button" ng-click="abort($index)" ng-show="hasUploader($index) && progress[$index] < 100">Abort</button>
				{{f.name}} - size: {{f.size}}B - type: {{f.type}}
			</div>
		</div>

    </div>


</body>
</html>